recipeproject/recipeenv
__pycache__/
migrations/
ml/recipe_recommendation/RAW_recipes.csv
ml/recipe_recommendation/recipes_cleaned.csv
recipeproject/core/ml/ml_models/RAW_recipes.csv
recipeproject/core/ml/ml_models/recipes_cleaned.csv
ml/recipe_recommendation/RAW_recipes-checkpoint.csv
ml/recipe_recommendation/.ipynb_checkpoints/
ml/recipe_recommendation/RAW_recipes-checkpoint.csv